header .header-head{
	position:fixed;
	top: 0;
	width: auto;
	z-index: 10;
	float:right;
}

header .header-top{
	background:#ffffff none repeat scroll 0 0;
	box-sizing:border-box;
	height:110px;
	position:relative;
	width:100%;
}

header .header-top-inner{
	height:100%;
	margin:0 auto;
	max-width:100%;
}
header .header-top-inner-left{
	float:left;
	height:100%;
	width:330px;
}

header .name-company{
	color: black;
	font-size: 50px;
	margin: 0 8px;
	vertical-align: middle;
	
	position:absolute;
	left:100px;
	top:20px;
}

header .header-top-inner-right{
	float:right;
	height:100%;
	min-width:550px;
	position:relative;
	width:330px;
}

header .header-nav{
	background:#337ab7 none repeat scroll 0 0;
	font-family: "Proxima Nova Condensed";
	font-weight:600;
	height:50px;
	width:100%;
}

header .header-nav-inner{
	display: flex;
	height: 50px;
	margin: 0 auto;
	max-height: 50px;
	transition: height 0.15s ease-in-out 0s;
}

header .header-nav-inner ul{
	display:table-caption;
	margin:0;
	padding:0;
	width:100%;
}
header .header-nav-inner ul  li.nav-button{
	/*border-left: 1px solid #dddddd;*/
	box-shadow: -1px 0 0 0 #ffffff;
	color: #ffffff;
	background:#337ab7;
	display: table-cell;
	font-size: 18px;
	font-weight: 750;
	letter-spacing: 0.5px;
	padding: 0 30px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
}
.nav-button > a{
	color:#ffffff;
	display:inline-block;
	height:50px;
	line-height:50px;
	white-space: nowrap;
	width:100%;
}
.nav-button > a:hover{
	color:#ffffff;
	text-decoration:none;
	cursor:pointer;
	filter:alpha(opacity=50);
	opacity:.8;
}

#btn-login{
	background-color: #337ab7; /* Green */
	border: none;
	cursor: pointer;
	display: table-cell;
	float:center;
    font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.5px;
	padding: 0 15px;
	position: relative;
	text-transform: uppercase;
	text-align: center;
    text-decoration: none;
	text-transform: uppercase;
	vertical-align: top;
	
}

#btn-login > a{
	float:center;
	color:#ffffff;
	display:table-cell;
	height:50px;
	line-height:50px;
	white-space: nowrap;
	width:100%;
	text-align: center;
}

#btn-login:hover{
	color:#ffffff;
	text-decoration:none;
	cursor:pointer;
	filter:alpha(opacity=50);
	opacity:.8;
	size:5px 75px;
}