#btn-ver-remiserias, #btn-solcitar-remis, #btn-obtener-ubicacion-en-el-mapa{
    font-family:arial;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
    font-size: 17px;
    margin-left:15px;
    display:inline-block;
    border-radius: 20px;
}

#dvMapHome{
    width: 600px;
    height: 600px;
    width: 100%;
    padding: 20px 0px;
    box-shadow: 15px 15px 15px #888888;
    margin-left:0px;
    display:block;

}

#btn-ver-remiserias:hover, #btn-solcitar-remis:hover{
    color:#ffffff;
    background-color:#286090;
    border-color:#2e6da4;
    text-decoration:none;
    cursor:pointer;
    filter:alpha(opacity=50);
    size:5px 75px;	
}

#bar-buttons{
    color:#ffffff;
    padding: 20px 20px;
    width:100%;
    background-color:#F5F5DA;
    border-radius:40px;
}
