/*TAMANIO DE LETRAS PARA TODO EL DOCUMENTOS*/
html{font-size:14px;-webkit-tap-highlight-color:rgba(0,0,0,0)}

body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;line-height:1.42857143;color:#333;background-color:#fff}
/*body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}*/